<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    
    <link
      href="https://fonts.googleapis.com/css2?family=Fascinate&display=swap"
      rel="stylesheet"
    />
    <link href="/static/style.css" rel="stylesheet" type="text/css" />
    <title>News classifier</title>
  </head>
  <body>
    <header class="bg-dark w-100">
      <nav class="nav-bar ai-c jc-sb py-1 max-w-80 w-90">
        <div class="nav--left ai-c">
          <div class="nav__brand">
            <div class="nav__brand__logo mr-2">
              <img
                class="nav__brand__logo__img"
                src="/news.png"
                alt="news-icon"
              />
            </div>
            <div class="nav__brand__name"><a class="brand-name--sm-w" href="#">News Classifier</a></div>
          </div>

          <div class="nav__menu--short px-3 py-1 ai-c">
            <div><a href="#"><i class="fas fa-bars"></i></a></div>
          </div>

          <div class="nav__menu ai-c tupper">

            <a class="nav__menu__item" href="#">
              <div class="nav__menu__item co-r ai-c">
                <div class="nav__menu__item-icon mr-2">
                  <i class="fas fa-home"></i>
                </div>
                <div class="nav__menu_item-text">home</div>
              </div>
            </a>

            
            </div>
            

        </div>
      </nav>
    </header>
    <header class="upper container-fluid bg-red pt-6" action="{{url_for('predict')}}" method="POST">
      <img class="watermark" src="/news.png" alt="news_icon">
      <div class="z-2 container max-w-80 w-90">
        <div class="container flex-col ai-c mb-5">
          <div class="brand-name--lg-w w-mc">News Classifier</div>
          <h1 class="co-w f-hl">
            Let's classify news using different models
          </h1>
        </div>               
        </div>
      </div>
    </header>
    <form class="upper container-fluid bg-red pt-6" action="{{url_for('predict')}}" method="POST">
      <input type="text" class="search container-fluid ai-c h-25 jc-sb w-100" name="news" Placeholder="Enter news">    
      <input class="search__button btn-dark w-100 ai-c jc-c" type="submit" value="Submit">
    </form>
    
    <footer>
      <div class="footer__main h-80 w-90 center jc-sb pt-4">
        <div class="footer__main__about px-3">
          <div class="footer__main__about__logo">
            <div class="ai-c jc-c mb-3">
              <div class="footer__logo mr-3">
                <img
                  class="footer__logo__img"
                  src="/news.png"
                  alt="news-icon"
                />
              </div>
              <div class="footer__logo__name brand-name--sm-w">News Classifier</div>
            </div>
          </div>
          <p class="co-l f-hl">
            This is Machine learning mini project developed by three members :<br>
            1. Bhavesh Mahajan(35)<br>
            2. Prashant Nane(38) <br>
            3. Prajyot Pawar(52)<br>
            under Guidance of  - Prof. Jaspreet Kaur
          </p>
        </div>
      
         
       
        <div class="footer__main__navigation px-3">
          <div class="footer__main--title">NAVIGATION</div>
          <ul class="links">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>

          </ul>
        </div>
        
      </div>
    </footer>
  </body>

<!-- 
<body>
    <h3>News Classifier</h3>
<div>
  <form action="{{url_for('predict')}}" method="POST">
    <label for="news">Input news</label>
    <input type="text" name="news" Placeholder="Enter news">    
    <input type="submit" value="Submit">
  </form>
</div>
</body> -->
</html>

